<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="rmiService" class="org.fade.demo.springframework.rmi.RmiServiceImpl" />

	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!--服务类-->
		<property name="service" ref="rmiService" />
	</bean>

</beans>